
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Instrument+Serif:ital@1&family=Oswald&display=swap');

body{
    background-color: antiquewhite;
}

*{        /* (*)means all the elements */
    margin:0;
    padding:0;
}

nav{
  font-family:'EB Garamond', serif;
  font-size: 5px;
}

nav ul{
    display:flex; /* ek hi line me ajayega */
    align-items: center;
    list-style-type:none; /* jo ul ka dots hote h voh nhi dikhte*/
    height: 90px;
    background-color: black;
    color:white;
}

nav ul li{
    padding: 0px 50px;
    height: 4px;
    font-size: 29px;
}

.brand img{
    color: black;
    width: 77px;
    height: 66px;
    padding: 0px 3px;
    border: -129px;
    margin-left: -45px;
    border-radius: 31px;
}

.brand{
    display:flex;
    align-items: center;
    font-weight:bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 66vh;
    background-color: black;
    color: white;
    font-family: 'Instrument Serif', serif;
    display: flex;
    width: 911px;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px; /* taki content andar guss sake */
    background-image: url('background\ img.jpg');
    width: 584px;
}

.bottom{
    position: sticky;
    height: 61px;   
    background-color: black;
    color: white;
    bottom: 0;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 0px;
}

.icons i{
    cursor: pointer;
}
#myprogress{
   width: 80vw;
   /* text-align: center; */
   cursor: pointer;
}

.songitemcontainer{
    margin-top: 20px;
}

.songitem{
    height: 54px;
    display: flex;
    background-color: white;
    width: 600px;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 19px;
}

.songitem img{
    width: 48px;
    height: 45px;
    margin: 0px 26px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 24px;
}

.timestamp{
    cursor: pointer;
}



